.login-container {
    max-width: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin:auto;
    margin-top: 100px;
}
.logo-placeholder {
    font-size: 28px;
    font-weight: bold;
    color: #007bff; /* Primary blue color */
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 5px;
    display: inline-block;
}